/* html elements */

body {
  display: block;
  background-color: #f1fcf1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
}

footer {
  margin-top: 10rem;
}

div {
  text-shadow: 1px 1px 2px green;
}

h1 {
  display: flex;
  font-size: 3em;
  color: #478547;
  justify-content: center;
  text-shadow: 1px 1px 3px green, -0.5px -0.5px 1.3px green;
}

p {
  display: flex;
  font-size: 2em;
  color: #478547;
  justify-content: center;
  text-shadow: 1px 1px 3px green, -0.5px -0.5px 1px green;
}

a {
  color: #478547;
}
a:hover {
  color: #f1fcf1;
}
#version {
  text-shadow: none;
  font-size: 1.6rem;
}

/* welcome section */

#info {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#name {
  width: 10rem;
  height: 2rem;
  color: green;
  font-size: 1.5rem;
  text-align: center;
}
#nameSubmit {
  width: 6rem;
  height: 4rem;
}
#nameError {
  font-size: 1rem;
  text-shadow: 0 0 0;
}
#nameDis {
  width: 40rem;
  font-size: 2.1rem;
}
#gtt {
  display: none;
}

/* back buttons */

#back {
  display: none;
  font-size: 5rem;
}

/* menu button classes etc */

.button {
  height: 6rem;
  width: 8rem;
  border: 1px solid #478547;
  border-radius: 1em;
  background-color: linear-gradient(#85e085, green);
  color: #478547;
  font-size: 1em;
  margin: 0.05em 0.05em;
  box-shadow: 2px 2px 5px green, -0.5px -0.5px 1px green;
}

.button:hover {
  background-color: #3c6f3c;
  color: #f1fcf1;
  cursor: pointer;
}

.button:active {
  height: 5.9rem;
  width: 7.9rem;
}

button {
  height: auto;
  width: auto;
  border: 1px solid #478547;
  border-radius: 0.2em;
  background-color: #85e085;
  color: #478547;
  font-size: 1em;
}

button:hover {
  background-color: #3c6f3c;
  color: #f1fcf1;
  cursor: pointer;
}

button:active {
  margin: 0.08em 0.08em;
}
#games {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}

#courses1 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}
#courses2 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}
#courses3 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}
#courses4 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}

#gameModes {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}

#playerSelect {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#leaderBox {
  display: flex;
  justify-content: center;
}
#leader {
  text-decoration: none;
  list-style: none;
}

#info {
  line-height: 0rem;
}
#nameDis {
  margin: 0 auto;
  text-align: center;
}

/* icon section from font awesome */

#home {
  display: none;
  color: #85e085;
  font-size: 6.9rem;
  text-shadow: 3px 3px 5px green, -0.5px -0.5px 1px green;
}
#home:hover {
  color: #3c6f3c;
  cursor: pointer;
}
#home:active {
  color: #3c6f3c;
  font-size: 5.9rem;
}

#golfball {
  color: #3c6f3c;
  font-size: 4rem;
  margin-bottom: 1rem;
}
#back,
#back2,
#back3,
#back4,
#back5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.2rem 0.4rem;
  color: #85e085;
  font-size: 7rem;
  text-shadow: 3px 3px 5px green, -0.5px -0.5px 1px green;
}
#home {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.1rem 0.1rem;
  color: #85e085;
  font-size: 7rem;
  text-shadow: 3px 3px 5px green, -0.5px -0.5px 1px green;
}
#home:hover,
#back:hover,
#back2:hover,
#back3:hover,
#back4:hover,
#back5:hover {
  color: #3c6f3c;
  cursor: pointer;
}
#home:active {
  color: #3c6f3c;
  font-size: 6.9rem;
}
#back:active,
#back2:active,
#back3:active,
#back4:active,
#back5:active {
  color: #3c6f3c;
  font-size: 6.9rem;
}

/* end icons */

#unlocked {
  margin-right: 0.5rem;
}

#scrollLock {
  display: none;
  position: fixed;
  color: #f1fcf1;
  top: 0;
  right: 0;
  margin: 0.3rem 0.3rem;
  z-index: 1;
  border-radius: 10%;
  box-shadow: 1px 1px 4px green, -0.2px -0.2px 2px green;
  align-items: center;
  justify-content: right;
  font-size: 5rem;
}
#scrollUnlock {
  display: none;
  position: fixed;
  color: #f1fcf1;
  top: 0;
  right: 0;
  margin: 0.3rem 0.3rem;
  z-index: 2;
  border-radius: 10%;
  box-shadow: 1px 1px 4px green, -0.2px -0.2px 2px green;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
#scrollToggleBox {
  display: flex;
  justify-content: center;
}

/* end of menu buttons */

/* thus begins the creation of the strokes table using grid display... */

.wrapper {
  display: none;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  background-color: #bbeebb;
  grid-column: 2;
  grid-row: 2 / 3;
}
.two {
  background-color: #bbeebb;
  grid-column: 3;
  grid-row: 2 / 3;
  text-shadow: 0 0 0;
}
.three {
  background-color: #bbeebb;
  grid-column: 4;
  grid-row: 2 / 3;
}
.four {
  background-color: #bbeebb;
  grid-column: 5;
  grid-row: 2 / 3;
}
.five {
  background-color: #bbeebb;
  grid-column: 6;
  grid-row: 2 / 3;
}
.six {
  background-color: #bbeebb;
  grid-column: 7;
  grid-row: 2 / 3;
}
.seven {
  background-color: #bbeebb;
  grid-column: 8;
  grid-row: 2 / 3;
}
.eight {
  background-color: #bbeebb;
  grid-column: 9;
  grid-row: 2 / 3;
}
.nine {
  background-color: #bbeebb;
  grid-column: 10;
  grid-row: 2 / 3;
}
.ten {
  background-color: #bbeebb;
  grid-column: 2;
  grid-row: 4 / 5;
}
.eleven {
  background-color: #bbeebb;
  grid-column: 3;
  grid-row: 4 / 5;
}
.twelve {
  background-color: #bbeebb;
  grid-column: 4;
  grid-row: 4 / 5;
}
.thirteen {
  background-color: #bbeebb;
  grid-column: 5;
  grid-row: 4 / 5;
}
.fourteen {
  background-color: #bbeebb;
  grid-column: 6;
  grid-row: 4 / 5;
  height: auto;
  width: auto;
}
.fifteen {
  background-color: #bbeebb;
  grid-column: 7;
  grid-row: 4 / 5;
}
.sixteen {
  background-color: #bbeebb;
  grid-column: 8;
  grid-row: 4 / 5;
}
.seventeen {
  background-color: #bbeebb;
  grid-column: 9;
  grid-row: 4 / 5;
}
.eighteen {
  background-color: #bbeebb;
  grid-column: 10;
  grid-row: 4 / 5;
}
#firstBar {
  background-color: #85e085;
  grid-column: 2 / 11;
  grid-row: 1 / 1;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  word-spacing: 9rem;
}
#secondBar {
  background-color: #85e085;
  grid-column: 2 / 11;
  grid-row: 3 / 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  word-spacing: 8.4rem;
}
#playerColumnOne {
  background-color: #adebad;
  grid-column: 1;
  grid-row: 2 / 2;
  text-align: center;
  line-height: 2rem;
}
#playerColumnTwo {
  background-color: #adebad;
  grid-column: 1;
  grid-row: 4 / 4;
  text-align: center;
  line-height: 2rem;
}

.numberBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tablebtn {
  display: none;
}

/* thus ends the strokes table */

/* begin speed run section */

#speedRunDisplay {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#stopwatch {
  color: #478547;
  font-size: 4rem;
}
#theButton {
  height: 12rem;
  width: 14rem;
  border-radius: 3%;
  font-size: 3rem;
  margin: 0 auto;
  box-shadow: 3px 3px 7px green, -0.5px -0.5px 3px green;
}
#timeContainter {
  display: flex;
  height: 50rem;
}
#time {
  display: flex;
  position: fixed;
  left: 6rem;
  top: 5rem;
  font-size: 3rem;
}
#timeTwo {
  display: flex;
  position: fixed;
  right: 6rem;
  top: 5rem;
  font-size: 3rem;
}
#stopwatchTotal {
  justify-content: center;
  text-align: center;
  display: none;
  font-size: 6rem;
  color: #478547;
}
#totalTime {
  text-align: center;
}
#cooldown {
  font-size: 1.4rem;
  text-shadow: 0 0 0;
}

/* end speed run section */

/* begin blitz section */

#blitzSection {
  display: none;
  height: 100%;
  min-width: 0;
}
#playerOne {
  height: 30rem;
  width: 50%;
  font-size: 5rem;
  min-width: 0;
  align-items: center;
  justify-content: center;
}
#playerTwo {
  height: 30rem;
  width: 50%;
  font-size: 5rem;
  min-width: 0;
  align-items: center;
  justify-content: center;
}
#playerThree {
  height: 30rem;
  width: 50%;
  font-size: 5rem;
  min-width: 0;
  align-items: center;
  justify-content: center;
}
#playerFour {
  height: 30rem;
  width: 50%;
  font-size: 5rem;
  min-width: 0;
  align-items: center;
  justify-content: center;
}

/* download results button */

#action {
  display: none;
  position: relative;
  margin: 0.5rem auto;
  justify-content: center;
  align-items: center;
}

/* high score section */

/* finish with media queries*/

@media only screen and (max-width: 500px) {
  #firstBar {
    word-spacing: 1.4rem;
  }
  #secondBar {
    word-spacing: 0.9rem;
  }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
  #firstBar {
    word-spacing: 2.6rem;
  }
  #secondBar {
    word-spacing: 2.1rem;
  }
}

@media only screen and (max-width: 820px) and (min-width: 700px) {
  #firstBar {
    word-spacing: 3.9rem;
  }
  #secondBar {
    word-spacing: 3.3rem;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 820px) {
  #firstBar {
    word-spacing: 4.8rem;
  }
  #secondBar {
    word-spacing: 4.2rem;
  }
}

@media only screen and (max-width: 1270px) and (min-width: 1000px) {
  #firstBar {
    word-spacing: 6rem;
  }
  #secondBar {
    word-spacing: 5.4rem;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1270px) {
  #firstBar {
    word-spacing: 7.8rem;
  }
  #secondBar {
    word-spacing: 7rem;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1640px) {
  #firstBar {
    word-spacing: 8.2rem;
  }
  #secondBar {
    word-spacing: 8rem;
  }
}

@media only screen and (min-width: 1850px) {
  #firstBar {
    word-spacing: 12rem;
  }
  #secondBar {
    word-spacing: 11.4rem;
  }
}
