body {
    display: flex-box;
    background-color: lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    display: flex;
    font-size: 3em;
    color: midnightblue;
    justify-content: center;
}

p {
    display: flex;
    font-size: 2em;
    color: midnightblue;
    justify-content: center;
}

button {
    height: 6em;
    width: 9em;
    border: 1px solid midnightblue;
    border-radius: 2em;
    background-color: cornflowerblue;
    color: midnightblue;
    font-size: 1em;
    margin: .1em .1em;
}

button:hover {
    background-color: midnightblue;
    color: white;
    cursor: pointer;
}

button:active {
    height: 5.9em;
    width: 8.9em;
    margin: .15em .12em;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#back, #back2, #back3, #back4, #back5 {
    position: fixed;
    top: 0;
    left: 0;
}