body {
    display: flex-box;
    background-color: #f1fcf1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

h1 {
    display: flex;
    font-size: 3em;
    color: #478547;
    justify-content: center;
}

p {
    display: flex;
    font-size: 2em;
    color: #478547;
    justify-content: center;
}

.button {
    height: 6rem;
    width: 8rem;
    border: 1px solid #478547;
    border-radius: 1em;
    background-color: #85E085;
    color: #478547;
    font-size: 1em;
    margin: .05em .05em;
}

.button:hover {
    background-color: #3c6f3c;
    color: white;
    cursor: pointer;
}

.button:active {
    height: 6rem;
    width: 8rem;

}

button {
    height: auto;
    width: auto;
    border: 1px solid #478547;
    border-radius: .2em;
    background-color: #85E085;
    color: #478547;
    font-size: 1em;
    margin: .05em .05em;
}

button:hover {
    background-color: #3c6f3c;
    color: white;
    cursor: pointer;
}

button:active {
    height: 2.8;
    width: 4.6;
    margin: .08em .08em;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#back, #back2, #back3, #back4, #back, #back6 {
    position: fixed;
    top: 0;
    left: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    background-color: #bbeebb;
    grid-column: 2;
    grid-row: 2 / 3;
  }
  .two {
    background-color: #bbeebb;
    grid-column: 3;
    grid-row: 2 / 3;
  }
  .three {
    background-color: #bbeebb;
    grid-column: 4;
    grid-row: 2 / 3;
  }
  .four {
    background-color: #bbeebb;
    grid-column: 5;
    grid-row: 2 / 3;
  }
  .five {
    background-color: #bbeebb;
    grid-column: 6;
    grid-row: 2 / 3;
  }
  .six {
    background-color: #bbeebb;
    grid-column: 7;
    grid-row: 2 / 3;
  }
  .seven {
    background-color: #bbeebb;
    grid-column: 8;
    grid-row: 2 / 3;
  }
  .eight {
    background-color: #bbeebb;
    grid-column: 9;
    grid-row: 2 / 3;
  }
  .nine {
    background-color: #bbeebb;
    grid-column: 10;
    grid-row: 2 / 3;
  }
    .ten {
    background-color: #bbeebb;
    grid-column: 2;
    grid-row: 4 / 5;
    }
    .eleven {
    background-color: #bbeebb;
    grid-column: 3;
    grid-row: 4 / 5;
    }
    .twelve {
    background-color: #bbeebb;
    grid-column: 4;
    grid-row: 4 / 5;
    }
    .thirteen {
    background-color: #bbeebb;
    grid-column: 5;
    grid-row: 4 / 5;
    }
    .fourteen {
    background-color: #bbeebb;
    grid-column: 6;
    grid-row: 4 / 5;
    height: auto;
    width: auto;
    }
    .fifteen {
    background-color: #bbeebb;
    grid-column: 7;
    grid-row: 4 / 5;
    }
    .sixteen {
    background-color: #bbeebb;
    grid-column: 8;
    grid-row: 4 / 5;
    }
    .seventeen {
    background-color: #bbeebb;
    grid-column: 9;
    grid-row: 4 / 5;
    }
    .eighteen {
    background-color: #bbeebb;
    grid-column: 10;
    grid-row: 4 / 5;
    }
    #firstBar {
    background-color: #85e085;
    grid-column: 2 / 11;
    grid-row: 1 / 1;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    word-spacing: 9rem;
    }
    #secondBar {
    background-color: #85e085;
    grid-column: 2 / 11;
    grid-row: 3 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    word-spacing: 8.4rem;
    }
    #playerColumnOne {
        background-color: #adebad;
        grid-column: 1;
        grid-row: 2 / 2;
        text-align: center;
        line-height: 2rem;
    }
    #playerColumnTwo {
        background-color: #adebad;
        grid-column: 1;
        grid-row: 4 / 4;
        text-align: center;
        line-height: 2rem;
    }


  .numberBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .tablebtn {
    display: none;
  }
  #action {
    display: none;
    position: relative;
    margin: .5rem auto;
    justify-content: center;
    align-items: center;
  }
  #speedRunDisplay {
    display: none;
    justify-content: center;
    text-align: center;
  }
  #stopwatch {
    color: #478547;
    font-size: 7rem;
  }
  #theButton {
    height: 12rem;
    width: 14rem;
    text-align: center;
    border-radius: 30%;
    font-size: 3rem;
  }
  #timeContainter {
    display: flex;
    float: left;
    
    height: 50rem;
  }
  #time {
    display: flex;
    float: left;
    width: 45rem;
    height: auto;
    font-size: 1rem;
  }
  #stopwatchTotal {
    justify-content: center;
    text-align: center;
    display: none;
    font-size: 3em;
    color: #478547;
  }
  #totalTime {
    text-align: center;
  }
  #scrollLock {
    position: fixed;
    text-align: center;
    height: 2.5rem;
    width: 4rem;
    z-index: 1;
  }
  #scrollUnlock {
    position: fixed;
    text-align: center;
    height: 2.5rem;
    width: 4rem;
    z-index: 2;

  }
  #scrollToggleBox {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 500px) {
    #firstBar {
    word-spacing: 1.4rem;
    }
    #secondBar {
    word-spacing: .9rem;
    }
}
  @media only screen and (min-width: 500px) and (max-width: 700px) {
        #firstBar {
        word-spacing: 2.6rem;
        }
        #secondBar {
        word-spacing: 2.1rem;
        }
  }

  @media only screen and (max-width: 820px) and (min-width: 700px) {
        #firstBar {
        word-spacing: 3.9rem;
        }
        #secondBar {
        word-spacing: 3.3rem;
        }
  }

  @media only screen and (max-width: 1000px) and (min-width: 820px) {
    #firstBar {
    word-spacing: 4.8rem;
    }
    #secondBar {
    word-spacing: 4.2rem;
    }
}

  @media only screen and (max-width: 1270px) and (min-width: 1000px) {
        #firstBar {
        word-spacing: 6rem;
        }
        #secondBar {
        word-spacing: 5.4rem;
        }
  }

  @media only screen and (max-width: 1400px) and (min-width: 1270px) {
        #firstBar {
        word-spacing: 7.8rem;
        }
        #secondBar {
        word-spacing: 7rem;
        }
  }

  @media only screen and (min-width: 1400px) and (max-width: 1640px) {
    #firstBar {
    word-spacing: 8.2rem;
    }
    #secondBar {
    word-spacing: 8rem;
    }
}

@media only screen and (min-width: 1850px) {
  #firstBar {
  word-spacing: 12rem;
  }
  #secondBar {
  word-spacing: 11.4rem;
  }
}